<h1><%= @chat_user.email.split('@')[0] %></h1>

<div id="messages" data-chat-room-id="<%= @chatroom.id %>">
 <div id="all-messages">
  <%@chatroom.messages.each do |message| %>
  <%= render 'message' , message: message %>
  <%end%>
 </div>
</div>

<%= form_tag '/message' , :id => 'new_message' do %>
    <p class="emoji-picker-container">
    <%= text_area_tag :body,"", class: 'form-control', data: { emojiable: true }%>
    </p>
    <br>
    <%= submit_tag "send", id: "send-message"%>
  <% end %>